# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Testing / coverage
.pytest_cache/
coverage.xml
htmlcov/
.tox/
.nox/

# Database
todo.db
